@media (max-width: 900px) {
    #accessbility{display: none;}
    #main-header {
        margin-top: 0;
    }
    #notification,
    #Welcome,
    #login,
    .panel
    {
        width: 100%;
        float: none;
    }
    #main-nav ul li {
        display: block;
        text-align: center;
    }
    ul.hffc > li,
    ul#font-in > li {
        display: inline-block;
    }
    .box-1 {
        width: 100%;
    }

    .box-2 {
        width: 100%;
    }

    .box-3 {
        width: 100%;
    }

    .box-4 {
        width: 100%;
    }

    .box-5 {
        width: 100%;
    }

    .box-6 {
        width: 100%;
    }

    .box-7 {
        width: 100%;
    }

    .box-8 {
        width: 100%;
    }

    .box-9 {
        width: 100%;
    }

    .box-10 {
        width: 100%;
    }

    .box-11 {
        width: 100%;
    }

    .box-12 {
        width: 100%;
    }

    .box-panel{width: 100%;}

}