<script src="/frontend/js/jquery-3.2.1.min.js"></script>
<img src="https://clientapp01.s3.ap-south-1.amazonaws.com/file-1618133654117.jpg" alt="">
<form  action="/api/userpost" method="post" id="uploadform" enctype="multipart/form-data">
  <input type="file" name="file" class="mulDoc" id="myfile" value="">
  <input type="submit"  value="submit" id="submit">
</form>

<script type="text/javascript">
/*$(document).ready(()=>{
  $('#submit').on('click',(e)=>{
    e.preventDefault();

  })
})*/
function getFiles(){

    var uFile = $(".mulDoc")[0].files[0];

    var fileName = $(".mulDoc").val();
    if (fileName != '' && fileName != 'undefined' && fileName != null) {
      var lastIndex = fileName.lastIndexOf("\\");
      if (lastIndex >= 0) {
        fileName = fileName.substring(lastIndex + 1);
      }
      var data = '';
      var x = [];
      var reader = new FileReader();
      reader.readAsDataURL(uFile);
      reader.onload = function() {
        data = reader.result.split(",");
        x.push(data[1]);
      };
    } else {
      var x = [];
      x.push('empty');
    }
    var file = x;
    var data = {
      file:file,
      type:'1',
      postDesc:'desc',
      postedBy:'user12'
    }
    console.log(data);
    $.ajax({
      url:'userpost',
      method:'post',
      //contentType: 'multipart/form-data',
      data:data,
      success:function (res) {
        console.log(res);
      },
      error:function(err) {
        console.log(err);
      }
    })
}
</script>
