
<form action="#" id="my_form" method="post">
  <input name="_csrf" type="hidden" value="" />
</form>
<div class="admin-panel-navbar">
        <div class="admin-panel-logo" >
            <img src="/images/logo.jpeg" alt="admin-logo" style="height:65px;width:65%;" >
        </div>
        <div class="admin-panel-user-nav">
            <ul>
                <li><i class="fa fa-user"></i> <a href="/logout"> Log out</a></li>
            </ul>
        </div>
    </div>
